
#projects{
    background-color: #eef1f3;
}
.blanko{
background-color: #FFFBEB;
}

#my-logo-img{
    margin-right: 10px;
}


.a-icons{
    height: 40px;
    background-color: none;
}

.afaf{
    height: 45px;
    background-color: none;
    padding-right: 10px;
}

#view-cv{
    width: 100%;
    height: 1200px;
}

.icon-lglg{
    height: 100px;
    border-radius: 15%;
    padding: 7px;
}

#cards-imgs{
    background-size: cover; /* Make the image fit within the card */
    background-position: center;
}
