
#projects{
    background-image: url(./alessio-soggetti-gdE-5Oui1Y0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#uni-projects{
    margin-top: 30px;
     background-color: white;
}
.blanko{
background-color: #FFFBEB;
}

#my-logo-img{
    margin-right: 10px;
}


.a-icons{
    height: 40px;
    background-color: none;
}

.afaf{
    height: 45px;
    background-color: none;
    padding-right: 10px;
}

#view-cv{
    width: 100%;
    height: 1200px;
}

.icon-lglg{
    height: 100px;
    border-radius: 15%;
    padding: 7px;
}

#cards-imgs{
    background-size: cover; /* Make the image fit within the card */
    background-position: center;
}

#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}  
  
.container112 {
    background-color: whitesmoke;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#tmp_cv {
    max-width: 100%;
    height: auto;
}
  
#c{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    width: 100%;
    background-image: url(./alessio-soggetti-gdE-5Oui1Y0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

#hero1{
    border-radius: 30px;
    border: 3px solid white;
    background-color: transparent;
    backdrop-filter: blur(35px);
    max-height: 90%;
    max-width: 90%;
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}


.hdhd1{
    font-size: large;
    border-radius: 5px;
    margin-top: 5px;
}
.hdhd1:hover{
    font-size: larger;
    animation-duration: 1s;
    color: white;
    background-color: black;
}

.proj_bk{
    border-radius: 15px;
    border: 5px solid white;
    background-color: transparent;
    backdrop-filter: blur(70px);
    border-bottom: none;
}

#youtube{
    background-image: url(./ty-bg.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}