.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion: reduce) {
  .hidden {
    /* Adjust the styles for reduced motion here */
    /* For example, you might remove or reduce the transition effect */
    transition: none; /* Remove the transition for reduced motion */
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.ss1:nth-child(2){
  transition-delay: 200ms;
}
.ss1:nth-child(3){
  transition-delay: 300ms;
}
/*-----*/

.ss2:nth-child(2){
  transition-delay: 200ms;
}
.ss2:nth-child(3){
  transition-delay: 300ms;
}
.ss2:nth-child(4){
  transition-delay: 400ms;
}
.ss2:nth-child(5){
  transition-delay: 500ms;
}




#projects{
    background-image: url(./stefan-grage-Y4MKctPwIrw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#uni-projects{
    margin-top: 30px;
     background-color: white;
}
.blanko{
background-color: #FFFBEB;
}

#my-logo-img{
    margin-right: 10px;
    height: 60px;
}


.a-icons{
    height: 40px;
    background-color: none;
}

.afaf{
    height: 45px;
    background-color: none;
    padding-right: 10px;
}

#view-cv{
    width: 100%;
    height: 1200px;
}

.icon-lglg{
    height: 100px;
    border-radius: 15%;
    padding: 7px;
}

#cards-imgs{
    background-size: cover; /* Make the image fit within the card */
    background-position: center;
}

#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}  
  
.container112 {
    background-color: whitesmoke;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#tmp_cv {
    max-width: 100%;
    height: auto;
}
  
#c{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    width: 100%;
    background-image: url(./alessio-soggetti-gdE-5Oui1Y0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

#hero1{
    border-radius: 30px;
    border: 3px solid white;
    background-color: transparent;
    backdrop-filter: blur(35px);
    max-height: 90%;
    max-width: 90%;
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}


.hdhd1{
    font-size: large;
    border-radius: 5px;
    margin-top: 5px;
}
.hdhd1:hover{
    font-size: larger;
    animation-duration: 1s;
    color: white;
    background-color: black;
}

.proj_bk{
    border: 5px solid black;
    background-color: transparent;
    backdrop-filter: blur(1);
    border-bottom: none;
    border-radius: 15px 15px 0px 0px;
}




/*-----------------------*/

#hh1 {
    display: block; /* Initially show the ul */
  }

.list-icon {
    display: block; /* Initially hide the list icon */
    cursor: pointer; /* Set cursor style to pointer */
    position: relative; /* Add relative positioning */
}

.dropdown-menu {
    display: none; /* Initially hide the dropdown menu */
    position: absolute; /* Position the dropdown menu absolutely */
    top: 100%; /* Position it below the list icon */
    right: 0; /* Align it with the right side of the header */
    z-index: 1; /* Ensure the dropdown is on top of other elements */
    background-color: #fff; /* Set background color */
    padding: 10px; /* Add padding for styling */
}

.list-icon:hover .dropdown-menu {
    display: block; /* Show the dropdown menu on hover */
}

@media (min-width: 768px) {
    .list-icon {
      display: none; /* Hide the list icon when screen size is 944px or greater */
    }
}


.tp11:hover{
    background-color: grey;
    color: white;
}


#d {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* Set your desired background color */
  z-index: 1000; /* Adjust the z-index as needed */
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.175); /* Add a shadow for a visual effect */
}


#dd{
    margin: 10px 20px;
    padding-left: 5%;
    padding-right: 5%;
}

#dd span {
  font-size: 80%; /* 20% smaller than the original size */
}


#ddd{
    margin: 10px 20px;
    display: flex;
    justify-content:flex-end;
    padding-left: 5%;
    padding-right: 5%;
}

#log{
    height: 45px;
    max-height: 70px;
}

#ani-smol {
  height: auto; /* Remove the max-height property */
  overflow: hidden;
}


#youtube{
 display: flex;
 justify-content: center;
 align-items: center;
}

#ytinfo{
    width: 90%;
}

#ytlog{
    filter: invert();
}

#uni-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero1234{
    width: 90%;
}

----------------------------------------------------------------------

.ld-wpr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the background color and opacity as needed */
  position: fixed;
  top: 0;
  left: 0;
}


.hourglassBackground {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 50vh auto;
  }
  
  .hourglassContainer {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 50px;
    height: 70px;
    -webkit-animation: hourglassRotate 2s ease-in 0s infinite;
    animation: hourglassRotate 2s ease-in 0s infinite;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  .hourglassContainer div,
  .hourglassContainer div:before,
  .hourglassContainer div:after {
    transform-style: preserve-3d;
  }
  
  @-webkit-keyframes hourglassRotate {
    0% {
      transform: rotateX(0deg);
    }
  
    50% {
      transform: rotateX(180deg);
    }
  
    100% {
      transform: rotateX(180deg);
    }
  }
  
  @keyframes hourglassRotate {
    0% {
      transform: rotateX(0deg);
    }
  
    50% {
      transform: rotateX(180deg);
    }
  
    100% {
      transform: rotateX(180deg);
    }
  }
  
  .hourglassCapTop {
    top: 0;
  }
  
  .hourglassCapTop:before {
    top: -25px;
  }
  
  .hourglassCapTop:after {
    top: -20px;
  }
  
  .hourglassCapBottom {
    bottom: 0;
  }
  
  .hourglassCapBottom:before {
    bottom: -25px;
  }
  
  .hourglassCapBottom:after {
    bottom: -20px;
  }
  
  .hourglassGlassTop {
    transform: rotateX(90deg);
    position: absolute;
    top: -16px;
    left: 3px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #999999;
  }
  
  .hourglassGlass {
    perspective: 100px;
    position: absolute;
    top: 32px;
    left: 20px;
    width: 10px;
    height: 6px;
    background-color: #999999;
    opacity: 0.5;
  }
  
  .hourglassGlass:before,
  .hourglassGlass:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #999999;
    left: -17px;
    width: 44px;
    height: 28px;
  }
  
  .hourglassGlass:before {
    top: -27px;
    border-radius: 0 0 25px 25px;
  }
  
  .hourglassGlass:after {
    bottom: -27px;
    border-radius: 25px 25px 0 0;
  }
  
  .hourglassCurves:before,
  .hourglassCurves:after {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #333;
    animation: hideCurves 2s ease-in 0s infinite;
  }
  
  .hourglassCurves:before {
    left: 15px;
  }
  
  .hourglassCurves:after {
    left: 29px;
  }
  
  @-webkit-keyframes hideCurves {
    0% {
      opacity: 1;
    }
  
    25% {
      opacity: 0;
    }
  
    30% {
      opacity: 0;
    }
  
    40% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hideCurves {
    0% {
      opacity: 1;
    }
  
    25% {
      opacity: 0;
    }
  
    30% {
      opacity: 0;
    }
  
    40% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .hourglassSandStream:before {
    content: '';
    display: block;
    position: absolute;
    left: 24px;
    width: 3px;
    background-color: white;
    -webkit-animation: sandStream1 2s ease-in 0s infinite;
    animation: sandStream1 2s ease-in 0s infinite;
  }
  
  .hourglassSandStream:after {
    content: '';
    display: block;
    position: absolute;
    top: 36px;
    left: 19px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    animation: sandStream2 2s ease-in 0s infinite;
  }
  
  @-webkit-keyframes sandStream1 {
    0% {
      height: 0;
      top: 35px;
    }
  
    50% {
      height: 0;
      top: 45px;
    }
  
    60% {
      height: 35px;
      top: 8px;
    }
  
    85% {
      height: 35px;
      top: 8px;
    }
  
    100% {
      height: 0;
      top: 8px;
    }
  }
  
  @keyframes sandStream1 {
    0% {
      height: 0;
      top: 35px;
    }
  
    50% {
      height: 0;
      top: 45px;
    }
  
    60% {
      height: 35px;
      top: 8px;
    }
  
    85% {
      height: 35px;
      top: 8px;
    }
  
    100% {
      height: 0;
      top: 8px;
    }
  }
  
  @-webkit-keyframes sandStream2 {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    51% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    91% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes sandStream2 {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    51% {
      opacity: 1;
    }
  
    90% {
      opacity: 1;
    }
  
    91% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .hourglassSand:before,
  .hourglassSand:after {
    content: '';
    display: block;
    position: absolute;
    left: 6px;
    background-color: white;
    perspective: 500px;
  }
  
  .hourglassSand:before {
    top: 8px;
    width: 39px;
    border-radius: 3px 3px 30px 30px;
    animation: sandFillup 2s ease-in 0s infinite;
  }
  
  .hourglassSand:after {
    border-radius: 30px 30px 3px 3px;
    animation: sandDeplete 2s ease-in 0s infinite;
  }
  
  @-webkit-keyframes sandFillup {
    0% {
      opacity: 0;
      height: 0;
    }
  
    60% {
      opacity: 1;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 17px;
    }
  }
  
  @keyframes sandFillup {
    0% {
      opacity: 0;
      height: 0;
    }
  
    60% {
      opacity: 1;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 17px;
    }
  }
  
  @-webkit-keyframes sandDeplete {
    0% {
      opacity: 0;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    1% {
      opacity: 1;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    24% {
      opacity: 1;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    25% {
      opacity: 1;
      top: 41px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    50% {
      opacity: 1;
      top: 41px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    90% {
      opacity: 1;
      top: 41px;
      height: 0;
      width: 10px;
      left: 20px;
    }
  }
  
  @keyframes sandDeplete {
    0% {
      opacity: 0;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    1% {
      opacity: 1;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    24% {
      opacity: 1;
      top: 45px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    25% {
      opacity: 1;
      top: 41px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    50% {
      opacity: 1;
      top: 41px;
      height: 17px;
      width: 38px;
      left: 6px;
    }
  
    90% {
      opacity: 1;
      top: 41px;
      height: 0;
      width: 10px;
      left: 20px;
    }
  }
  
/* Your existing styles... */

#website-all-wraper {
  display: none;
}


ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

#tts {
  background-image: url(./alessio-soggetti-gdE-5Oui1Y0-unsplash.jpg);
  height: auto;
}

.text-gray {
  color: #999;
}


#custom-cards{
  height: auto;
}

