
#projects{
    background-color: #eef1f3;
}
#uni-projects{
    background-color: #eef1f3;
}
.blanko{
background-color: #FFFBEB;
}

#my-logo-img{
    margin-right: 10px;
}


.a-icons{
    height: 40px;
    background-color: none;
}

.afaf{
    height: 45px;
    background-color: none;
    padding-right: 10px;
}

#view-cv{
    width: 100%;
    height: 1200px;
}

.icon-lglg{
    height: 100px;
    border-radius: 15%;
    padding: 7px;
}

#cards-imgs{
    background-size: cover; /* Make the image fit within the card */
    background-position: center;
}

#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}  
  
.container112 {
    background-color: whitesmoke;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #tmp_cv {
    max-width: 100%;
    height: auto;
  }
  