
#projects{
    background-image: url(./alessio-soggetti-gdE-5Oui1Y0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#uni-projects{
    margin-top: 30px;
     background-color: white;
}
.blanko{
background-color: #FFFBEB;
}

#my-logo-img{
    margin-right: 10px;
    height: 60px;
}


.a-icons{
    height: 40px;
    background-color: none;
}

.afaf{
    height: 45px;
    background-color: none;
    padding-right: 10px;
}

#view-cv{
    width: 100%;
    height: 1200px;
}

.icon-lglg{
    height: 100px;
    border-radius: 15%;
    padding: 7px;
}

#cards-imgs{
    background-size: cover; /* Make the image fit within the card */
    background-position: center;
}

#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}  
  
.container112 {
    background-color: whitesmoke;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#tmp_cv {
    max-width: 100%;
    height: auto;
}
  
#c{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    width: 100%;
    background-image: url(./alessio-soggetti-gdE-5Oui1Y0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

#hero1{
    border-radius: 30px;
    border: 3px solid white;
    background-color: transparent;
    backdrop-filter: blur(35px);
    max-height: 90%;
    max-width: 90%;
    margin: 10px;
}

html {
    scroll-behavior: smooth;
}


.hdhd1{
    font-size: large;
    border-radius: 5px;
    margin-top: 5px;
}
.hdhd1:hover{
    font-size: larger;
    animation-duration: 1s;
    color: white;
    background-color: black;
}

.proj_bk{
    border: 5px solid white;
    background-color: transparent;
    backdrop-filter: blur(70px);
    border-bottom: none;
}

#youtube{
    background-image: url(./ty-bg.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*-----------------------*/

#hh1 {
    display: block; /* Initially show the ul */
  }

.list-icon {
    display: block; /* Initially hide the list icon */
    cursor: pointer; /* Set cursor style to pointer */
    position: relative; /* Add relative positioning */
}

.dropdown-menu {
    display: none; /* Initially hide the dropdown menu */
    position: absolute; /* Position the dropdown menu absolutely */
    top: 100%; /* Position it below the list icon */
    right: 0; /* Align it with the right side of the header */
    z-index: 1; /* Ensure the dropdown is on top of other elements */
    background-color: #fff; /* Set background color */
    padding: 10px; /* Add padding for styling */
}

.list-icon:hover .dropdown-menu {
    display: block; /* Show the dropdown menu on hover */
}

@media (min-width: 768px) {
    .list-icon {
      display: none; /* Hide the list icon when screen size is 944px or greater */
    }
}


.tp11:hover{
    background-color: grey;
    color: white;
}


#d{
    width: 100%vh;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0px;
}

#dd{
    margin: 10px 20px;
    padding-left: 5%;
    padding-right: 5%;
}

#ddd{
    margin: 10px 20px;
    display: flex;
    justify-content:flex-end;
    padding-left: 5%;
    padding-right: 5%;
}

#log{
    height: 45px;
    max-height: 70px;
}

#ani-smol{
    height: 40vh;
    background-image: url(./Untitled\ design.gif);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bgfrani{
    margin-bottom: 13%;
    
}